[submodule "info-hw1"]
	path = info-hw1
	url = https://github.com/hse-courses-tokubetsu/hw1-KatiaKozlova.git
[submodule "info-hw2"]
	path = info-hw2
	url = https://github.com/hse-courses-tokubetsu/hw2-KatiaKozlova.git
[submodule "info-project"]
	path = info-project
	url = https://github.com/hse-courses-tokubetsu/project-KatiaKozlova.git
